<!-- include header template -->
<%- include('partials/header') -%>

<h1>Welcome to Home</h1>
<img src="https://cdn.pixabay.com/photo/2016/01/19/16/48/teepee-1149402_960_720.jpg" height="400px" alt="image">

<!-- include footer template -->
<%- include('partials/footer') -%>